

.thumbnail{
    width: 100%;
    margin-bottom: 15px;

}

.video-title{
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    width: 290px;


}

.video-author{
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    margin-top: 8px;


}

.video-stats{
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;


}

.profile-picture{
    width: 36px; 
    border-radius: 36px;
}

.channel-picture{
    


}

.video-info{
   

}

.thumbnail-row{

    display: inline-block;
    position: relative;
}





.video-info-grid{

    display: grid;
    grid-template-columns: 50px 1fr;

}

.video-grid{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 40px;
}

.video-time{

    font-family: roboto,arial;
    font-size: 12px;
    font-weight: 500;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 2px;
    background-color: black;
    color: white;
    position: absolute;
    bottom: 25px;
    right: 5px;
}
